body {
    border: 20px solid #bdc3c7;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 20px auto;
    padding: 20px;
    max-width: 700px;
    width: 80%;
}

.date {
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 100;
}

h1 {
    color: #2c3e50;
    font-size: 2rem;
}

body p,
body h2,
body h1 {
    margin-left: 40px;
}

blockquote {
    border-left: 5px solid #bdc3c7;
    padding-left: .3em;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}