/*START - Background Gradient and font-face for text*/

body {
    font-family: Roboto;
    background: #c2e59c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #c2e59c, #64b3f4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #c2e59c, #64b3f4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/*END - Background Gradient and font-face for text*/

h1 {
    background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* START - Styiling of the To-Do List Items */

li {
    background: white;
    height: 40px;
    line-height: 40px;
    color: #666;
}

li:nth-child(2n) {
    background: #f7f7f7;
}


/* END - Styiling of the To-Do List Items */


/* START - Input box Styling */

input {
    font-size: 18px;
    color: #2980b9;
    background: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    border: 3px solid rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus {
    background: white;
    border: 3px solid #2980b9;
    outline: none;
}


/* END - Input box Styling */


/*START - Icons for deleting To-Do Items */

span {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}


/*END - Icons for deleting To-Do Items */


/* START - Strike through for completed To-Dos */

.completed {
    color: gray;
    text-decoration: line-through;
}


/* END - Strike through for completed To-Dos */


/* START - Icon for input toggle */

.fa-plus {
    transition: all 0.5s;
    float: right;
}

.fa-arrow-circle-down {
    transition: all 0.5s;
    float: right;
}


/* END - Icon for input toggle */


/* START - Styling for the To-Dos list container */

#container {
    width: 360px;
    background: #f7f7f7;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}


/* END - Styling for the To-Dos list container */
